@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500;700&family=Lexend+Deca:wght@100;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

nav{
    display: flex;
}

nav > h1{
    font-size: 1.9rem;
        padding: 1rem 0;
        display: block;
        letter-spacing: 0.2rem;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(90deg, red, orange, green, #00ddff, #ff00d4, purple);
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-weight: 700;
}

.container{
    width: 100%;
}



.carrier{
    width: 70%;
    height: 100%;
    margin: 6% auto;
    display: flex;
}

.carrier div{
    padding: 2.7rem 2.2rem 3.5rem 2.2rem;
    height: 100%;
    width: 100%;
}

.carrier div > img, h1{
    padding-bottom: 1.5rem;
}

.carrier div > p{
    padding-bottom: 4.8rem;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5rem;
    width: 85%;
}

.carrier div > p, a{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;

}

.carrier div > h1{
    color: hsla(0, 0%, 100%, 954);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.sedans a{
    color: hsl(31, 77%, 52%);

}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.suv a{
    color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.luxury a{
    color: hsl(179, 100%, 13%);
}

.carrier div > a {
    background-color: white;
    border-radius: 25px;
    padding: 0.9rem 1.8rem;
    margin-bottom: 2rem;
}

.carrier div > a:hover{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    color: white;
}

.grid-body{
    background-color: black;
}

.grid-container{
    width: 42%;
    margin: 5% auto;
    height: 390px;
    display: grid;
    grid-template-areas: 'red red red red red red orange orange orange'
                         'red red red red red red orange orange orange '
                         'green green green green blue blue blue blue blue'
                         'green green green green purple purple purple purple purple';

    gap: 14px;
}

.grid-container div{
    width: 100%;
    height: 100% !important;
}

.item1{grid-area: red;
background-color: orangered;}

.item2{grid-area: orange;
background-color: orange;}

.item3{grid-area: green;
background-color: rgb(38, 173, 38);}

.item4{grid-area: blue;
background-color: rgb(27, 154, 233);}

.item5{grid-area: purple;
background-color: rgb(27, 154, 233);
}







@media only screen and (max-width: 940px){
    .container{
        width: 100%;
    }
    .carrier{
        flex-direction: column;
        margin: 10px
    }

    .carrier div{
        width: 100%;
    }

    .sedans{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .luxury{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .grid-contain{
        margin: 50px;
    }

    
}

@media only screen and (max-width: 500px){
    .carrier div{
        width: 80%;
    }

    .carrier {
        margin: 40px
    }
}

@media only screen and (width: 1024px){
    .carrier div{
        height: auto !important;
    }
}

@media only screen and (width: 2560px){
    .luxury p{
        width: 80% !important;
    }
}